name: Release
on:
  push:
    branches:
      - master
jobs:
  test:
    name: Lint and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version-file: go.mod
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          install-mode: goinstall
          version: v2.4.0
      - name: Test
        run: go test ./...
  release-please:
    name: Run Release Please
    runs-on: ubuntu-latest
    needs: [test]
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Release Please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: simple
          changelog-path: CHANGELOG.md
  build-binaries:
    name: Build binaries
    runs-on: ubuntu-latest
    needs: [release-please]
    if: ${{ needs.release-please.outputs.release_created }}
    strategy:
      matrix:
        os: [linux, windows, darwin]
        arch: [amd64, arm64, 386]
        exclude:
          - os: darwin
            arch: 386
        include:
          - os: linux
            arch: arm
            arm_version: 7
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version-file: go.mod
      - name: Build
        run: |
          set -e
          export CGO_ENABLED=0
          export GOOS="${{ matrix.os }}"
          export GOARCH="${{ matrix.arch }}"
          
          # Set GOARM for ARM v7
          if [[ "${{ matrix.arch }}" == "arm" ]]; then
            export GOARM="${{ matrix.arm_version }}"
            arch_suffix="armv${{ matrix.arm_version }}"
          else
            arch_suffix="${{ matrix.arch }}"
          fi
          
          go build -o out/ ./cmd/...
          [[ "${{ matrix.os }}" = "windows" ]] && suff=".exe"
          cd out/
          for p in *; do
              mv "$p" "${p%.*}-${{ matrix.os }}-${arch_suffix}-${{ needs.release-please.outputs.tag_name }}$suff"
          done
          cd -
      - name: Upload
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: out/*
          file_glob: true
          tag: ${{ needs.release-please.outputs.tag_name }}
